.footerDiv {
  background-color: #f1f1f1;
  margin-top: 30px;
  margin-right: -8px;
  margin-left: -8px;
  padding-left: 10px;
  border-top: 4px solid rgb(204, 25, 55);
}

.logo {
  width: 150px;
  padding-top: 35px;
  border-radius: 5px;
}

.footerDiv div h2 {
  color: rgb(204, 25, 55);
  /* margin-left: 30px; */
}

.footerDiv3 {
  margin-top: 60px;

  margin-left: 10px;
}

.footerDivSub {
  margin-bottom: 60px;
}

.para {
  width: 94px;
  margin-top: -15px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgb(200, 198, 198);
}

.para4 {
  width: 115px;
  margin-top: -15px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgb(200, 198, 198);
}

.para2 {
  color: rgb(75, 74, 74);
  cursor: pointer;
}

.border {
  border: 1px solid black;
  margin-bottom: 50px;
  margin-right: 10px;
}

.border2 {
  color: rgb(45, 45, 45);
  font-size: 15px;
  margin-right: 10px;
}

.border3 {
  font-size: 12px;
  color: rgb(75, 74, 74);
  padding-bottom: 30px;
}

.border4 {
  font-size: 15px;
  color: rgb(42, 41, 41);
  margin: 40px 0px 40px 10px;
}

.h4 {
  color: rgb(204, 25, 55);
  margin-left: 10px;
  cursor: pointer;
}

.h4Div {
  margin-top: 40px;
}
